@import url("./holberton_school-icon/style.css");

/* Variables */
:root {
    --font-family: 'Source Sans Pro', serif;
    --color-white: #FFFFFF;
    --color-purple: #C271FF;
    --color-light-purple:#D296FF;
    --color-cyprus: #071629;
    
}

/* General Styles */
body {
    font-family: var(--font-family) !important;
}

.bg-purple {
    background-color: var(--color-purple);
}

.bg-cyprus {
    background-color: var(--color-cyprus);
}

.text-highlight {
    color: var(--color-purple);
}

.btn {
    background-color: var(--color-purple);
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);
}

.btn:hover, .btn:focus {
    opacity: 0.9;
}

.font-large {
    font-size: 2.5rem;
}

/* Background Images */
.bg-home {
    background: var(--color-cyprus) url('images/pic_1.jpg') no-repeat center top / cover;
  
}

.bg-pricing {
    background: var(--color-cyprus) url('images/pic_2.jpg') no-repeat center top/cover;
}


.bg-courses {
    background: var(--color-cyprus) url('images/pic_3.jpg') no-repeat center top/cover;
}

.bg-love {
    background: var(--color-cyprus) url('puggies/puggies_1.png') no-repeat center top/cover;
}


/* Burger Menu Icon */
.burger-icon:before {
    font-family: 'holberton_school-icon';
    content: "\e911";
    color: var(--color-white);
    font-size: 2rem;
}

.nav-link:hover, .nav-link:focus {
    color: var(--color-purple) !important;
}

.dropdown-item:hover {
    color: var(--color-purple) !important;
    background-color: var(--color-white);
}


.control-arrow {
    max-width: 30px;
    max-height: 63px;
}

/* Responsive Adjustments */
@media screen and (max-width: 575px) {
    .bg-home {
        background-position: center top;
        background-size: 100vw;
    }
}

@media screen and (max-width: 767px) {
    .bg-home {
        background-size: auto;
    }
    .display-1 {
        font-size: 5rem;
    }
}


.dontCryText {
    font-family: 'Coiny', sans-serif !important;
}


.bg-lightpurple {
    var(--color-light-purple);
}

